.main-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    padding: 17px 0 0;
}

.header-title {
    color: #2E2E2E;
    font-size: 26px;
    height: 26px;
    font-family: 'Lora';
}

.menu {
    display: flex;
    list-style: none;
}

.link {
    color: #2E2E2E;
    font-size: 12px;
    font-family: 'Oxygen';
    height: 12px;
    line-height: 12px;
    padding: 0 20px 2px;
    text-align: center;
    text-decoration: none;
}


.text-container {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color:#2E2E2E;
    font-size: 50px;
    line-height: 51px;
    padding: 0 0 20px;
    margin: 89px 0 0;
    font-family: 'Lora';
}

.subtitle {
    text-align: center;
    color:#2E2E2E;
    opacity: 0.63;
    font-size: 17px;
    line-height: 20px;
    margin: 0 0 113px;
    font-family: 'Oxygen';
}

.main-image{
    width: 100%;
    }

.article {
    width: 100%;
    max-width: 960px;
    color:#101315;
    font-size: 24px;
    line-height: 35px;
    margin: 140px 0 30px;
    font-family: 'Oxygen';
}

.additional{
    margin: 0 0 50px;
}

.add-image{
    width: 30%;
    margin: 0 0 0 190px;
}

.add-text{
    float: right;
    margin: 150px 180px 0 0;
    font-family: 'Roboto';
}
.add-title{
    text-align: center;
}

.add-facts{
    font-family: 'Roboto';
    font-weight: bold;
}

.add-link{
    color: #000000;
    text-decoration: none;
}

.footer-conteiner{
    background: url("./images/footer-photo.png");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 89px;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 26px;
    height: 26px;
    line-height: 26px;
    font-family: 'Lora';
}

.footer-menu {
    margin: 5px 0 0;
    display: flex;
    list-style: none;
    align-items: end;
}

.footer-link {
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding: 0 20px 2px;
    text-align: center;
    font-family: 'Oxygen';
    text-decoration: none;
}